{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
</div>

<h2>List of tasks</h2>
<div class="table-responsive" id="dashboard" v-cloak>
    <table class="table table-striped table-md">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Created</th>
                <th>Interval</th>
                <th>Last run</th>
                <th>Status</th>
                <th>Last duriation</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% raw %}
            <tr v-if="tasks.length" v-for="task in tasks">
                <td class="td-icon">
                    <i v-show="!task.running && !task.pause" class="fa fa-sun-o text-info" tooltip="Wait"></i>
                    <i v-show="task.running" class="fa fa-certificate fa-spin text-success" tooltip="Running now"></i>
                    <i v-show="!task.running && task.pause" class="fa fa-certificate text-muted" tooltip="Paused"></i>
                </td>
                <td>
                    <a :href="buildUrl(task)">{{task.name}}</a>
                </td>
                <td>{{ ts2date(task.created) }}</td>
                <td>
                    <span>
                        {{ task.interval }}
                        <span v-if="task.interval_units == '0'">Seconds</span>
                        <span v-if="task.interval_units == '1'">Minutes</span>
                        <span v-if="task.interval_units == '2'">Hours</span>
                        <span v-if="task.interval_units == '3'">Days</span>
                    </span>
                </td>
                <td>{{ ts2date(task.last_run) }}</td>
                <td>
                    <span v-show="task.last_status != undefined" :class="(task.last_status? 'text-success': 'text-danger')">{{(task.last_status? 'Success': 'Error')}}</span>
                    <span v-show="task.last_status == undefined">-</span>
                </td>
                <td>{{task.last_duriation}} sec.</td>
                <td class="td-icon">
                    <i v-show="!task.build_now && !task.pause" class="fa fa-clock-o text-info" tooltip="Run now" v-on:click="run(task.slug)"></i>
                    <i v-show="task.build_now && !task.pause" class="fa fa-clock-o text-warning" tooltip="Added to queue"></i>
                    <i v-show="task.pause" class="fa fa-clock-o text-muted" tooltip="Task paused"></i>
                </td>
            </tr>
            <tr v-if="tasks.length == 0" class="text-center">
                <td colspan="9">No tasks</td>
            </tr>
            {% endraw %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block js%}
<script type="text/javascript" src="/static/plugins/vue/vue.min.js"></script>
<script type="text/javascript" src="/static/plugins/vue/vue-resource.js"></script>
<script type="text/javascript" src="/static/js/runner-vue.js"></script>
{% endblock %}
