{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
</div>

<h2>List of tasks</h2>
<div class="table-responsive">
    <table class="table table-striped table-md">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Created</th>
                <th>Interval</th>
                <th>Last run</th>
                <th>Status</th>
                <th>Last duriation</th>
            </tr>
        </thead>
        <tbody>
            {% if tasks %}
                {% for task in tasks%}
                <tr>
                    <td>

                    </td>
                    <td>
                        <a href="{{ url_for('task_detail', slug=task.slug) }}">{{task.name}}</a>
                    </td>
                    <td>{{task.created | timestamp2date()}}</td>
                    <td>
                        <span>
                            {{ task.interval }}
                            {% if task.interval_units == '0' %}Seconds{%endif%}
                            {% if task.interval_units == '1' %}Minutes{%endif%}
                            {% if task.interval_units == '2' %}Hours{%endif%}
                            {% if task.interval_units == '3' %}Days{%endif%}
                        </span>
                    </td>
                    <td>{{task.last_run | timestamp2date()}}</td>
                    <td>{% if task.last_status == True %}
                        <span class="text-success">Success</span>
                        {% elif task.last_status == False %}
                        <span class="text-danger">Failed</span>
                        {% else %}
                        -
                        {% endif %}
                    </td>
                    <td>{{ task.last_duriation }} sec.</td>
                </tr>
                {% endfor %}
            {% else %}
            <tr class="text-center">
                <td colspan="8">No tasks</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
